@tailwind base;
@tailwind components;
@tailwind utilities;

:root{
    background-color: #f5f5f5;
}
.flex-grow {
    height: 3px;
  }
  .transition-all {
    transition: background-color 0.3s ease-in-out;
  }

  .scrollbar-hide::-webkit-scrollbar {
    display: none;
  }
  
  .scrollbar-hide {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;     /* Firefox */
  }